body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav.black{
  background: rgb(83, 2, 2);
}
.nav-up {
  height: 10vh;
}
.input-container {
  width: 80%;
}
.input-field {
  width: 70%;
  padding: 10px;
  box-shadow: none;
  border-radius: 4px;
  margin: auto;
  height: 6vh;
  display: none;
}
a{
  color: rgb(252, 252, 252);
}
a:hover{
  color: rgb(255, 255, 255);
}
li{
  list-style: none;
}
/* landing page */
.landing{
  background: linear-gradient(rgba(83, 2, 2, 0.747), rgba(83, 2, 2, 0.747)), url('../images/0-5616x3744.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90vh;
}
.land{
  box-sizing: border-box;
  padding-top: 12%;
  color: #ffffff;
  height: 80vh;
  width: 100%;
}
.land-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70vh;
}
.land-text input{
  box-shadow: none !important;
}
.land-text p{
  font-size: 20px;
}
.upper {
  height: 70%;
  width: 60%;
}

/* display images */
.image{
  width: 100%;
}
#display{
  width: 100%;
}
.display{
  margin: 4%;
}
.display img{
  width: 50vh;
  height: 50vh;
  background: red;
}
.display p{
  width:100%;
  height:5vh;
}
.loader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#loader{
  width: 5%;
}
.more{
  display: none;
}
footer{
  background: rgb(83, 2, 2);
  height: 10vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer i{
  border: 1px solid;
  border-radius: 20px;
}
/* media */
@media screen and (max-width: 991px){
  .upper {
    width: 80%;
    height: 60%;
  }
}
@media screen and (max-width: 800px){
  .logo{
    width: 15%;
  }
  .input-container {
    width: 100%;
  }
  .input-field {
    width: 80%;
  }
  .upper {
    width: 80%;
  }
}
@media screen and (max-width: 768px){
  .upper {
    width: 100%;
  }
}
@media screen and (max-width: 600px){
  .nav-up {
    height: 17vh;
  }
  nav{
    display: block;
    height: 17vh;
  }
  .input-container {
    width: 100%;
  }
  .input-field {
    width: 100%;
  }
}